:root{
    --regular : 16px;
    --bigFontD : 64px;
    --regularBigD : 18px;
    --sectionHeading : 56px;
    --largeD : 40px;
    --large : 48px;
    --semiLarge : 24px;
    --semiLargeD : 28px;
    --semiLarge2 : 32px;
}